:root {


    /* light mode colors */
    --body-bg-lm: rgb(255, 255, 255);
    --g-search-border-color-lm: rgb(223, 225, 229);
    --g-search-btn-text-lm: rgb(60, 64, 67);
    --g-search-btn-border-color-lm: #f8f9fa;
    --g-search-btn-bg-lm: #f8f9fa;
    --language-link-text-color-lm: rgb(26, 13, 171);
    --footer-bg-lm: rgb(242, 242, 242);
    --footer-text-color-t1-lm: rgb(112, 117, 122);
    --footer-border-bottom-color-t1-lm: #dadce0;
    --footer-text-color-t2-lm: rgb(112, 117, 122);


    /* dark mode colors */
    --body-bg-dm: rgb(32, 33, 36);
    --g-search-border-color-dm: rgb(232, 234, 237);
    --g-search-btn-text-dm: rgb(232, 234, 237);
    --g-search-btn-border-color-dm: rgb(48, 49, 52);
    --g-search-btn-bg-dm: rgb(48, 49, 52);
    --language-link-text-color-dm: rgb(138, 180, 248);
    --footer-bg-dm: rgb(23, 23, 23);
    --footer-text-color-t1-dm: rgb(154, 160, 166);
    --footer-border-bottom-color-t1-dm: #3c4043;
    --footer-text-color-t2-dm: rgb(153, 157, 162);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
    background: var(--body-bg-lm);
}


#app-nav {
    min-width: 388px;
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
}

#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    padding: 4px;
}

#nav-buttons a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

#g-menu-icon-btn {
    opacity: 0.6;
}

#g-menu-icon-btn-cnt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#g-menu-icon-btn-cnt:hover {
    background: rgba(60,64,67,.08);
}

/*#g-menu-icon-btn:hover {*/
/*    background: rgba(196, 191, 191, 0.84);*/
/*    width: calc(24px * 2);*/
/*    height: 48px;*/
/*    border-radius: 48px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: -1;*/
/*}*/

#g-menu-icon {
    width: 24px;
    height: 24px;
}


#app-main {
    height: calc(100vh - 145px);
}

#google-logo-cnt {
    height: 40%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#google-logo {
    width: 272px;
}

#google-icon {
    width: 100%;
}

#search-bar-cnt {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 24px
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 28px;
    width: 582px;
    height: 46px;
    padding: 0 16px;
    background: transparent;
    border: 1px solid var(--g-search-border-color-lm);
    border-radius: 24px;
}

#search-bar:hover {
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}


#g-search-icon {
    width: 24px;
    display: flex;
    opacity: 0.4;
}

#search-bar-text-input {
    line-height: 2.3rem;
    text-align: start;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    font-size: 16px;
    z-index: 3;
    cursor: pointer;
}

#search-btn-cnt {
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.btn {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
}


#g-search-btn, #g-lucky-btn {
    background: var(--g-search-btn-bg-lm);
    color: #3c4043;
    border: 1px solid var(--g-search-btn-bg-lm);
    padding: 0 16px;
    height: 36px;
    text-align: center;
}

#g-search-btn:hover, #g-lucky-btn:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2)
}


#lang-btn-cnt {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
}

#lang-btn-cnt a {
    text-decoration: none;
}

#lang-opt {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 9px;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

#g-menu-icon-btn, #g-voice-icon-btn, #g-lens-icon-btn {
    width: 24px;
    display: inline-block;
}

#app-footer {
    height: max-content;
    background: var(--footer-bg-lm);
    font-size: 14px;
}

#upper-footer {
    height: 48px;
    color: var(--footer-text-color-t1-lm);
    border-bottom: 1px solid var(--footer-border-bottom-color-t1-lm);
    padding: 10px;
}

#lower-footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 14px;
}

.lwf-nav-link {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.lwf-nav-link a {
    text-decoration: none;
    color: var(--footer-text-color-t2-lm);
}

.lwf-nav-link a:hover {
    text-decoration: underline;
}

.lwf-nav-link:nth-child(2) {
    width: 50%;
    gap: 5px;
}

#footer-leaf {
    display: inline-block;
    margin-left: -100px;
}


